@import url("https://fonts.googleapis.com/css2?family=Fira+Code");

body {
  margin: 20px 20px;
  font-family: "Fira Code", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: "Fira Code", monospace;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0;
}
